.section {
  background-color: var(--content-background-color);
  padding: 20px;
  padding-top: 6px;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 24px;
  min-height: 590px;
  white-space: normal;
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 17px;
}
